fastapi==0.115.11
uvicorn==0.34.0
numpy==1.26.4
opencv-python-headless==4.11.0.86
python-multipart==0.0.20
insightface==0.7.3
onnxruntime==1.19.2
tensorflow==2.18.0
mediapipe==0.10.20
scipy==1.13.1
pydantic==2.10.6
requests==2.32.3
