fastapi==0.115.11
uvicorn==0.34.0
numpy==2.0.2
opencv-python-headless==4.11.0.86
python-multipart==0.0.20
insightface==0.7.3
onnxruntime==1.19.2
scipy==1.13.1
pydantic==2.10.6
requests==2.32.3
pandas==2.2.3
matplotlib==3.9.4
seaborn==0.13.2
tqdm==4.67.1
scikit-learn==1.6.1
pyyaml==6.0.2
imageio[ffmpeg]   # FFmpeg 기반 비디오 처리
ffmpeg-python     # FFmpeg의 Python 인터페이스